.footer {
  color: #ccc;
  font-size: .7rem;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: .5em;
}

.logo {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: .5rem;
}

@media only screen and (min-width: 680px) {
  .navbar {
    padding: 1rem .5rem 1rem .5rem;
  }

  .logo {
    margin-left: 1rem;
    font-size: 1.5rem;
  }
}
