.button1, .button2 {
  padding: 2rem;
  border-radius: 20px;
  font-size: 1.3rem;
  margin: 1rem;
}

.button1 {
  background-color: #FFE8E9;

}

.button2 {
  background-color: #EDFCE9;
}

.container {
  display: flex;
  align-items: center;
}
