html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('./../public/sls-art.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.5;
  font-size: 1.2rem;
}

h1 {
  text-align: left;
  width: 100%;
  margin-left: 5px;
}

.card {
  padding: 2em;
  margin: 2em;
  margin-bottom: 8em;
  background: #D8EFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.nocard {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.underline {
  position: relative;
  width: 100%;
  stroke: #ffd1d4;
  z-index: 2;
  top: 65px;
}

@media only screen and (min-width: 480px) {
  .card {
    max-width: 800px;
  }

  .nocard {
    max-width: 800px;
  }
}
